.search-conteiner {
    width: 100%;
    color: var(--blue);
    font-family: Bold, Helvetica, sans-serif;
    font-size: 18px;
}
.search {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}
.search :nth-child(2) {
    margin-left: 100px;
}
.search input {
    min-width: 350px;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
}
.search button {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--blue);
    color: var(--white);
    font-family: Bold, Helvetica, sans-serif;
    cursor: pointer;
    font-size: 20px;
}
.search button:hover {
    background-color: #5fa2c5;
}
.search button:active {
    background-color: var(--blue);
}

